<h2 class="acms-admin-admin-title2"><!-- T -->ChatWork Form 設定<!-- /T --></h2>
<table class="acms-admin-table-admin-edit">
  <tr>
    <th>
      Chatwork連携<i
        class="acms-admin-icon-tooltip js-acms-tooltip js-acms-tooltip-hover"
        data-acms-tooltip="チェックをすると、Chatworkの連携が有効になります。"
      ></i>
    </th>
    <td>
      <div class="acms-admin-form-checkbox">
        <input type="hidden" name="chatwork_void" value="off">
        <input type="checkbox" name="chatwork_void" value="on"{chatwork_void:checked#on} id="chatwork_void">
        <label for="chatwork_void">
          <i class="acms-admin-ico-checkbox"></i>有効
        </label>
      </div>
      <input type="hidden" name="mail[]" value="chatwork_void">
    </td>
  </tr>
  <tr>
    <th>
      APIトークン
      <i
        class="acms-admin-icon-tooltip js-acms-tooltip-hover"
        data-acms-tooltip="ChatWorkで発行したAPIトークンを設定します。"
      ></i>
    </th>
    <td>
      <input
        type="text"
        name="chatwork_form_token"
        value="{chatwork_form_token}"
        class="acms-admin-form-width-large"
        placeholder="xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx "
      />
      <input type="hidden" name="mail[]" value="chatwork_form_token" />
    </td>
  </tr>
  <tr>
    <th>
      ルームID
      <i
        class="acms-admin-icon-tooltip js-acms-tooltip-hover"
        data-acms-tooltip="ChatWorkの送信先ルームIDを設定します。（#!rid は除きます）"
      ></i>
    </th>
    <td>
      <input
        type="text"
        name="chatwork_form_room_id"
        value="{chatwork_form_room_id}"
        class="acms-admin-form-width-mini"
        placeholder="1234567"
      />
      <input type="hidden" name="mail[]" value="chatwork_form_room_id" />
    </td>
  </tr>
  <tr>
    <th>
      メッセージ
      <i
        class="acms-admin-icon-tooltip js-acms-tooltip-hover"
        data-acms-tooltip="ChatWorkに通知するメッセージテンプレート。メールテンプレートと同じ変数が使えます。"
      ></i>
    </th>
    <td>
      <textarea name="chatwork_form_message" class="acms-admin-form-width-full" rows="20">
{chatwork_form_message}</textarea
      >
      <input type="hidden" name="mail[]" value="chatwork_form_message" />
    </td>
  </tr>
</table>
